.navigation {
  display: flex;
  gap: 70px;
}

.nav_list {
display: flex;
gap : 20px;
}

.link {
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 0;
  &:not(.active) {
color: inherit;
  }
}

.active {
  color: red;
  
}

